body {
  overscroll-behavior: none;
}

.flex-start-center{
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.space-out{
  display: flex;
  justify-content: space-between;
}
